@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Source Sans Pro", sans-serif; }

/* main de todas las secciones */
.main {
  min-height: 70vh;
  background-image: url(../recursos/imagenes/fondo-2.jpg);
  background-size: 100%;
  padding: 10px; }
  .main__titulo {
    font-family: "Oswald", sans-serif;
    text-align: center;
    border: solid 2px white; }
  .main p {
    margin: 2%;
    text-align: center;
    font-weight: bold; }
  .main h2 {
    text-align: center;
    text-decoration: underline;
    font-family: "Oswald", sans-serif;
    margin: 2%;
    color: black; }
    .main h2:hover {
      transform: scale(1.1);
      transition: 0.5s;
      background-color: #12370eaf; }
  .main h3 {
    color: black;
    text-align: center;
    border: solid 2px white; }
    .main h3:hover {
      transform: scale(1.1);
      transition: 0.5s;
      background-color: #12370eaf; }

/* Mobile First */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end; } }

/* barra de navegación */
.navbar {
  background-color: #12370E !important; }
  .navbar .navbar-toggler-icon {
    background-image: url(http://www.rocamorasabor.com/images/menu.png) !important; }
  .navbar .navbar-toggler {
    border: var(--bs-border-width) solid #fff; }
  .navbar .navbar-brand img {
    width: 150px; }
  .navbar .blanco a {
    color: white; }
  .navbar .dropdown-item {
    color: black !important;
    display: flex;
    justify-content: flex-end; }
  .navbar .navbar-nav .nav-link.active,
  .navbar .navbar-nav .nav-link.show {
    color: #fff; }
  .navbar .nav-link {
    display: flex;
    justify-content: flex-end; }

.main {
  /* grid index */ }
  .main .carousel {
    width: 70%;
    margin: auto;
    padding: 15px; }
  .main__titulo-index {
    color: black;
    text-align: center;
    font-family: "Oswald", sans-serif;
    margin: 2%; }
  .main__section {
    display: flex;
    justify-content: center; }
    .main__section img {
      display: flex;
      width: 80%;
      margin: auto; }
  .main__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "seccion-uno seccion-uno seccion-uno seccion-uno" ". seccion-dos seccion-dos ." "seccion-tres seccion-tres seccion-cuatro seccion-cuatro" "seccion-cinco seccion-cinco seccion-seis seccion-seis"; }
  .main__seccion-1 {
    grid-area: seccion-uno; }
  .main__seccion-6 {
    grid-area: seccion-seis; }
  .main__seccion-2 {
    grid-area: seccion-dos; }
  .main__seccion-3 {
    grid-area: seccion-tres; }
  .main__seccion-4 {
    grid-area: seccion-cuatro; }
  .main__seccion-5 {
    grid-area: seccion-cinco; }
  .main .boton-arriba {
    display: flex;
    margin: 2px;
    font-family: "Raleway-Medium";
    justify-content: center; }
    .main .boton-arriba .boton-arriba a {
      margin: 20px !important; }

/* Mobile Last */
@media (max-width: 991px) {
  .main__grid {
    display: flex;
    flex-wrap: wrap; } }

.texto-somos {
  text-align: center; }

.main__form {
  width: 50%;
  margin: auto;
  font-weight: bold; }

.main .button {
  display: flex;
  justify-content: center;
  /* margin: 5px; */ }

.main .negrita {
  font-weight: bold; }

/* Mobile Last */
@media (max-width: 730px) {
  .main__form {
    width: 70%;
    margin: auto; } }

/* seccion Todos los Productos */
.main__grid-productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  grid-auto-flow: row;
  justify-items: center;
  text-align: center;
  grid-template-areas: "producto-1 producto-2 producto-3" "producto-4 producto-5 producto-6" "producto-7 producto-8 producto-9"; }

.main__producto-1 {
  grid-area: producto-1; }

.main__producto-2 {
  grid-area: producto-2; }

.main__producto-3 {
  grid-area: producto-3; }

.main__producto-4 {
  grid-area: producto-4; }

.main__producto-5 {
  grid-area: producto-5; }

.main__producto-6 {
  grid-area: producto-6; }

.main__producto-7 {
  grid-area: producto-7; }

.main__producto-8 {
  grid-area: producto-8; }

.main__producto-9 {
  grid-area: producto-9; }

.main .accordion-item {
  background-color: #12370e7c; }
  .main .accordion-item h2 {
    text-decoration: none; }
  .main .accordion-item a {
    margin: 10px;
    background-color: #12370e7c; }

.main .card-title {
  font-family: "Oswald", sans-serif;
  text-align: center; }

/* Mobile Last */
@media (max-width: 920px) {
  .main__grid-productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-auto-flow: row;
    justify-items: center;
    text-align: center;
    grid-template-areas: "producto-1 producto-2" "producto-3 producto-4" "producto-5 producto-6" "producto-7 producto-8" "producto-9 ."; }
  .producto-1 {
    grid-area: producto-1; }
  .producto-2 {
    grid-area: producto-2; }
  .producto-3 {
    grid-area: producto-3; }
  .producto-4 {
    grid-area: producto-4; }
  .producto-5 {
    grid-area: producto-5; }
  .producto-6 {
    grid-area: producto-6; }
  .producto-7 {
    grid-area: producto-7; }
  .producto-8 {
    grid-area: producto-8; }
  .producto-9 {
    grid-area: producto-9; } }

@media (max-width: 620px) {
  .main__grid-productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    gap: 20px;
    grid-auto-flow: row;
    justify-items: center;
    text-align: center;
    grid-template-areas: "producto-1" "producto-2" "producto-3" "producto-4" "producto-5"  "producto-6" "producto-7" "producto-8" "producto-9"; }
  .producto-1 {
    grid-area: producto-1; }
  .producto-2 {
    grid-area: producto-2; }
  .producto-3 {
    grid-area: producto-3; }
  .producto-4 {
    grid-area: producto-4; }
  .producto-5 {
    grid-area: producto-5; }
  .producto-6 {
    grid-area: producto-6; }
  .producto-7 {
    grid-area: producto-7; }
  .producto-8 {
    grid-area: producto-8; }
  .producto-9 {
    grid-area: producto-9; } }

.footer {
  display: flex;
  justify-content: center;
  background-color: #12370E;
  color: white;
  min-height: 10vh;
  padding: 10px; }
  .footer__redes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    margin: 5px; }
    .footer__redes i {
      border: 2px white solid;
      color: white;
      padding: 5px;
      border-radius: 30%; }
      .footer__redes i:hover {
        transform: scale(1.1);
        transition: 0.5s;
        color: #c9ab63;
        border: 2px #c9ab63 solid; }
  .footer__logo {
    width: 100px;
    display: flex;
    margin: auto;
    border-radius: 15%; }
