.footer {
    display: flex;
    justify-content: center;
    background-color: #12370E;
    color: white;
    min-height: 10vh;
    padding: 10px;
    &__redes {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 20px;
        margin: 5px;
        i {
            border: 2px white solid;
            color: white;
            padding: 5px;
            border-radius: 30%;
        }
    }
    &__logo {
        width: 100px;
        display: flex;
        margin: auto;
        border-radius: 15%;
    }
}

