.main{
    &__form {
        width: 50%;
        margin: auto;
        font-weight: bold;
    }
    .button {
        display: flex;
        justify-content: center;
        /* margin: 5px; */
    }
    .negrita {
        font-weight: bold;
    }
}

/* Mobile Last */

@media (max-width: 730px) {

    .main__form {
        width: 70%;
        margin: auto;
    }
}