.main{
    &__grid-bombas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
        grid-auto-flow: row;
        justify-items: center;
        text-align: center;
        grid-template-areas:
        "producto-1"
    }

    &__producto-1 {
        grid-area: producto-1;
    }
 }