.main{
    &__grid-baterias{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
        grid-auto-flow: row;
        justify-items: center;
        text-align: center;
        grid-template-areas:
            "producto-4 producto-7 producto-9"
    }

    &__producto-4 {
        grid-area: producto-4;
    }

    &__producto-7 {
        grid-area: producto-7;
    }

    &__producto-9 {
        grid-area: producto-9;
    }
}

/* Mobile Last */

@media (max-width: 920px) {
    .main__grid-baterias {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        grid-auto-flow: row;
        justify-items: center;
        text-align: center;
        grid-template-areas:
            "producto-4 producto-7"
            "producto-9 .";
    }

    &__producto-4 {
        grid-area: producto-4;
    }

    &__producto-7 {
        grid-area: producto-7;
    }

    &__producto-9 {
        grid-area: producto-9;
    }


}

@media (max-width: 620px) {
    .main__grid-baterias{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        grid-auto-flow: row;
        justify-items: center;
        text-align: center;
        grid-template-areas:
            "producto-4"
            "producto-7"
            "producto-9";
    }

    &__producto-4 {
        grid-area: producto-4;
    }

    &__producto-7 {
        grid-area: producto-7;
    }

    &__producto-9 {
        grid-area: producto-9;
    }

}