.main{
    &__grid-inversores{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
        grid-auto-flow: row;
        justify-items: center;
        text-align: center;
        grid-template-areas:
            "producto-2 producto-5 producto-8"
    }

    &__producto-2 {
        grid-area: producto-2;
    }

    &__producto-5 {
        grid-area: producto-5;
    }

    &__producto-8 {
        grid-area: producto-8;
    }
}

/* Mobile Last */

@media (max-width: 920px) {
    .main__grid-inversores {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        grid-auto-flow: row;
        justify-items: center;
        text-align: center;
        grid-template-areas:
            "producto-2 producto-5"
            "producto-8 .";
    }

    &__producto-2 {
        grid-area: producto-2;
    }

    &__producto-5 {
        grid-area: producto-5;
    }

    &__producto-8 {
        grid-area: producto-8;
    }


}

@media (max-width: 620px) {
    .main__grid-inversores{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        grid-auto-flow: row;
        justify-items: center;
        text-align: center;
        grid-template-areas:
            "producto-2"
            "producto-5"
            "producto-8";
    }

    &__producto-2 {
        grid-area: producto-2;
    }

    &__producto-5 {
        grid-area: producto-5;
    }

    &__producto-8 {
        grid-area: producto-8;
    }

}