.main{
    .form-contacto {
        width: 50%;
        margin: auto;
        font-weight: bold;
    }
    .button {
        display: flex;
        justify-content: center;
        /* margin: 5px; */
    }
    .negrita {
        font-weight: bold;
    }
}